<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
	<context:annotation-config/>
	<context:component-scan base-package="com.masinew.spring.xml.bean.auto" />
        
	<!-- 
		Same
		<context:property-placeholder location="classpath:dataSource.properties"/>
	-->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dataSource.properties</value>
				<value>classpath:jdbc-db2.properties</value>
			</list>
		</property>
		<property name="properties">
	        <value>customMessClass=com.masinew.spring.xml.bean.Message</value>
	    </property>
	</bean>

    <bean id="message" class="com.masinew.spring.xml.bean.Message" destroy-method="dest">
    	<qualifier value="champ" />
    	<property name="message" value="${message}" />
    </bean>

    <bean id="message2" class="com.masinew.spring.xml.bean.Message" primary="true">
    	<qualifier value="champ" />
    	<property name="message" value="${message} Primary message" />
    </bean>
    
    <bean id="messageGType1" class="com.masinew.spring.xml.bean.Message" autowire="default">
    	<qualifier type="com.masinew.spring.annotation.annotation.Genre" value="Action" />
    	<property name="message" value="${message} Action Value" />
    </bean>
    
    <bean id="messageGType2" class="com.masinew.spring.xml.bean.Message">
    	<qualifier type="com.masinew.spring.annotation.annotation.Genre" value="Comedy" />
    	<property name="message" value="${message} Comedy Value" />
    </bean>
    
    <bean id="messageNa" class="com.masinew.spring.xml.bean.Messager" />
    
    <bean id="messageNa2" class="com.masinew.spring.xml.bean.Messager2" />
    
    
    
    <bean id="customMessage" class="${customMessClass}">
		<property name="message" value="${customMessage}" />
	</bean>

	<bean id="db2" class="com.masinew.spring.xml.bean.Jdbc">
		<property name="url" value="${url}" />
		<property name="port" value="${port}" />
	</bean>
	
	
	
	<!-- MovieRecommeder -->
	<bean class="org.springframework.beans.factory.annotation.CustomAutowireConfigurer">
		<property name="customQualifierTypes">
			<set>
				<value>com.masinew.spring.annotation.annotation.Genre</value>
			</set>
		</property>
	</bean>
	<bean class="com.masinew.spring.annotation.bean.MovieCatalog">
        <qualifier type="com.masinew.spring.annotation.annotation.Genre" value="Action"/>
        <property name="name" value="FF8888" />
    </bean>

    <bean class="com.masinew.spring.annotation.bean.MovieCatalog">
        <qualifier type="com.masinew.spring.annotation.annotation.Genre" value="Comedy"/>
        <property name="name" value="Mr. Bean" />
    </bean>

    <bean id="movieRecommender" class="com.masinew.spring.annotation.bean.MovieRecommender"/>
    
    <!-- Annotation TEST -->
    <!-- <bean id="annoMessage" class="com.masinew.spring.Message">
    	<property name="message" value="${message}" />
    </bean>
    
    <bean id="annoMessager" class="Messager" />  -->
    
    <!-- Auto -->
    <!-- <bean class="com.masinew.spring.xml.bean.auto.MessageAuto" name="messageAuto">
    	<property name="message" value="Message Auto from XML Configuration" />
    </bean>
     -->
</beans>